<div class="container">

<ul>
  {{#each burgers}}
  	<li>
  		<p>{{this.burger_name}}</p>
     
      <button data-id="{{this.id}}" class="delquote">Delete</button>
  	</li>
  {{/each}}
</ul>



<div class="row">
    <div class="section">
        <form class="create-update-form" action="/" method="POST">
            <div class="form-group">
                <label for="ca">Burger Name:</label>
                <input type="text" id="burgerInput" name="burger_name" placeholder="Add a burger">
            <button class="btnColor btn btn-success" type="submit">Add burger</button>
            </div>
        </form>
    </div>


   
</div>
