<div class="container">

<div class="row">
    <div class="section">
        <form class="create-update-form" action="/" method="POST">
            <div class="form-group">
                <label for="ca">Burger Name:</label>
                <input type="text" id="burgerInput" name="burger_name" placeholder="Add a burger">
            <button class="btnColor btn btn-success" type="submit">Add burger</button>
            </div>
        </form>
    </div>


   <div class="row">
     <div class="card">
       <h2>Burgers Ready to Eat</h2>
       <div class="card-body">
         <div class="card-text">
           {{#each burgers}}
            {{#unless devoured}}
              {{> burgers/burger-block devoured = true}}
            {{/unless}}
           {{/each}}
         </div>
       </div>
     </div>

     <div class="card">
       <h2>Burgers Already Eaten</h2>
       <div class="card-body">
         <div class="card-text">
           {{#each burgers}}
            {{#if devoured}}
              {{> burgers/burger-block devoured = false}}
            {{/if}}
           {{/each}}
         </div>
       </div>
     </div>
   </div>